body{
    height: 100vh;
    width: 100vw;

    margin: 0;
    padding: 0;
    gap: 15px;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    background-color: hsl(0, 0%, 96%);

    overflow-y: auto;
    overflow-x: hidden;
}

h1, p{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

#texto{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.botao{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 30px;
    border-radius: 10px;
    background-color: hsl(0, 0%, 99%);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

#titulo{
    font-size: 4rem;
}

#subTitulo{
    font-size: 1.5rem;
}



.divBolha{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background-color: white;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    padding: 16px;
    gap: 10px;
    width: 80%;
}

.divBotoes{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    height: 120px;
    padding: 0px 10px;
    gap: 10px;
    flex-wrap: wrap;
    overflow-y: auto;
}

::-webkit-scrollbar {
    height: 8px;
    width: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(230, 230, 230); 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgb(192, 191, 191);   
}

.fotoDoCarro{
    height: 150px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.texto{
    font-size: 1.2rem;
    font-weight: bold;
}

#displayCarros{
    display: flex;
    justify-content: center;
    align-items: center;

    flex-wrap: wrap;
    overflow-x: auto;

    padding: 10px;
    gap: 20px;
}

.displayCarro{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    gap: 20px;
    background-color: hsl(0, 0%, 97%);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    padding: 30px 16px;
}